<div class="container theme-showcase" role="main">
    <div class="page-header">
        <h1>Add Client</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" action="/ui/addclient" method="post" novalidate>
                <input type="hidden" name="req_id" value={{req_id}}>
                <div class="form-group {{#if errors.clientId}}has-error{{/if}}">
                    <label for="inputClientId" class="col-sm-2 control-label">Client ID</label>
                    <div class="col-sm-10">
                        <input name="client_id" value="{{values.clientId}}" class="form-control" id="inputClientId" placeholder="Client ID" aria-describedby="helpBlockClientId">
                        {{#if errors.clientId}}
                            <span id="helpBlockClientId" class="help-block">{{errors.clientId}}</span>
                        {{/if}}
                    </div>
                </div>
                <div class="form-group {{#if errors.clientSecret}}has-error{{/if}}">
                    <label for="inputClientSecret" class="col-sm-2 control-label">Client Secret</label>
                    <div class="col-sm-10">
                        <input name="client_secret" value="{{values.clientSecret}}" class="form-control" id="inputClientSecret"
                               placeholder="Client Secret" aria-describedby="helpBlockSecret">
                        {{#if errors.clientSecret}}
                            <span id="helpBlockSecret" class="help-block">{{errors.clientSecret}}</span>
                        {{/if}}
                    </div>
                </div>
                <div class="form-group {{#if errors.redirectUri}}has-error{{/if}}">
                    <label for="inputRedirectUri" class="col-sm-2 control-label">Client Secret</label>
                    <div class="col-sm-10">
                        <input name="redirect_uri" value="{{values.redirectUri}}" class="form-control" id="inputRedirectUri"
                               placeholder="Redirect URI" aria-describedby="helpBlockRedirect">
                        {{#if errors.redirectUri}}
                            <span id="helpBlockRedirect" class="help-block">{{errors.redirectUri}}</span>
                        {{/if}}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-default">Create</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>