<tr>
    <td>{{client_id}}</td>
    <td>{{client_secret}}</td>
    <td>{{redirect_uris}}</td>
    <td>
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
            <a class="btn btn-large btn-info" href="/ui/client/{{client_id}}/delete">
                <span class="glyphicon glyphicon-remove icon-danger"></span>
            </a>
            <a class="btn btn-large btn-info" href="/ui/client/{{client_id}}/{{#if active}}deactivate{{else}}activate{{/if}}">
                {{#if active}}
                    <span class="glyphicon glyphicon-off icon-success"></span>
                {{else}}
                    <span class="glyphicon glyphicon-off"></span>
                {{/if}}
            </a>
        </div>
    </td>
</tr>
